version: "3.8"

services:
  frigate:
    container_name: frigate
    privileged: true
    restart: unless-stopped
    stop_grace_period: 30s
    image: docker.cnb.cool/frigate-cn/frigate:${wizard_version}
    shm_size: ${wizard_shm_size}
    devices:
      - /dev/dri/:/dev/dri/${wizard_coral}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${TRIM_PKGETC}:/config
      - ${TRIM_PKGHOME}/video:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "${TRIM_SERVICE_PORT}:8971"
      - "8554:8554"
      - "8555:8555/tcp"
      - "8555:8555/udp"
    environment:
      FRIGATE_RTSP_PASSWORD: "password"
      TZ: "Asia/Shanghai"
      HF_ENDPOINT: $wizard_endpoint
      GITHUB_ENDPOINT: $wizard_github_endpoint